@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.header {
    background-color: #111;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-right: 40%;
    justify-content: space-evenly;
    /* box-shadow: 0px 0px 60px -15px rgba(200, 25, 25, 0.75); */
}

button {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 2rem;
    border: none;
    height: 2rem;
    margin: 0.6rem;
    border-radius: 0.2rem;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}
/* 
 */

.color-pallete,
.options {
    display: flex;
    height: 70%;
    align-items: center;
    background-color: #2f3640;
    padding: 2rem 2rem;
}

.color-pallete button {
    margin-inline: 0.8rem;
}

.options {
    padding: 1rem 0.5rem;
}

.options button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: #fff;
}

.options button i {
    font-size: 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'800,
        'GRAD'0,
        'opsz'48
}

.main {
    /* height: 87vh; */
    width: 100%;
    min-height: 87vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 10%;
    gap: 3rem;
    padding-block: 5%;
    /* padding-inline: 10%; */
    /* margin: 10%; */
}

.ticket {
    width: 16rem;
    max-width: 80%;
    height: 35vh;
    min-height: 11rem;
    border: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    cursor: default;
}

.ticket-header {
    width: 100%;
    height: 8%;
    /* background-color: #222; */
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.ticket-content {
    width: 100%;
    height: 92%;
    background-color: azure;
    border: none;
}

.ticket_id {
    height: 15%;
     font-size: 0.8rem;
     padding-inline-start: 1rem;
     font-weight: bold;
     color: #666;
     /* text-align: center; */
     padding-top:0.4rem ;
     padding-left:1rem ;
    /* background-color: green; */
}

textarea {
    width: 100%;
    height: 85%;
    resize: none;
    padding: 1rem;
    color: #111;
    font-size: 0.9rem;
    line-height: 1.1;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

textarea:focus {
    outline: none;
}

.modal {
    position: fixed;
    top: 25vh;
    width: 40vw;
    min-width: 30rem;
    left: calc((100vw-40vw)/2);
    background-color: #111;
    height: 50vh;
    min-height: 50vh;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 0.4rem;

}

.modal textarea {
    width: 80%;
    height: 100%;
    resize: none;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.6;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem; 
}

.modal .color-pallete {
    display: flex;
    margin: 0;
    width: 20%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* padding-inline:0 ; */
    justify-content: space-evenly;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.modal .color-box{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}
.modal .color-pallete button {
    width: 100%;
    height: 50%;
    min-width: 2rem;
    min-height: 1.5rem;
    padding: 0;
    margin: 0;
    /* width: 5rem; */
   
}
.clicked {
    /* background-color: gray; */
    transform: scale(1.4);
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}
.filter-button{
    bottom: 10%;
    right: 5%;
    position: fixed;
    background-color: #222;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 0.8rem;
}
.change-button{
    bottom: 10%;
    left: 5%;
    position: fixed;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 0.8rem;
}
/* .filter-button:hover,.change-button:hover{
    transform: scale(1.2);
} */



@media(max-width:800px) {
    .header {
        padding-right: 0%;
    }

    .color-pallete,
    .options {
        height: 80%;
    }
}

@media(max-width:580px) {
    .header {
        flex-wrap: wrap;
        width: max-content;
    }
}